<ion-header>
  <ion-toolbar>
    <ion-title>spinner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center text-center>
    <ion-grid>
          <ion-row center>
                <ion-col>
                    <ion-spinner *ngIf="foo > 0" name="bubbles" duration="3000"></ion-spinner>
  <ion-card *ngIf="foo < 0">
      <ion-card-header>
        <ion-card-title>Congratulations</ion-card-title>
        <ion-card-subtitle>You've won</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{test}}
      </ion-card-content>
    </ion-card>
                </ion-col>
          </ion-row>
    </ion-grid>
  </ion-content>
