<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <!-- <ion-img src="/assets/shapes.svg"></ion-img> -->
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to Ionic</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
    </ion-card-content>
  </ion-card>
  <ion-content padding class="form-content">
    <form  [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
      <ion-item>
        <ion-label position="floating" color="primary">First Name</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Last Name</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Phone</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">City</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Gender</ion-label>
        <ion-select cancelText="Cancel" okText="OK">
          <ion-select-option *ngFor="let gender of genders" [value]="gender">{{gender}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Age Range</ion-label>
        <ion-select cancelText="Cancel" okText="OK" formControlName="age">
          <ion-select-option *ngFor="let a of ageRanges" [value]="a">{{a}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Income Ranges</ion-label>
        <ion-select cancelText="Cancel" okText="OK" formControlName="income">
          <ion-select-option *ngFor="let ic of incomeRanges" [value]="ic">{{ic}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button color="primary" class="submit-btn" expand="full" type="submit">Submit</ion-button>
    </form>
  </ion-content>

</ion-content>
